<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image shortcut" href="Assets/images/logo-imigrasi.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Global CSS -->
    <link rel="stylesheet" href="Assets/css/admin.css">

    <!-- Font-Awesome -->
    <script src="https://kit.fontawesome.com/7d95cfe4de.js" crossorigin="anonymous"></script>

    <title>Dashboard OPA PE DATAKE - Aplikasi Pendukung Pengelola Data Keuangan</title>
  </head>
  <body>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="content">
                <div class="header-dashboard">
                    <div class="app-title">OPA PE DATAKE</div>

                    <div class="account">
                        <div class="user-wrapper">
                            <div class="user-photo">
                                <img src="Assets/images/default-user.png">
                            </div>
                            <div class="wrap">
                                <div class="user-name">Abdul Aziz <i class="fa fa-chevron-down"></i></div>
                                <div class="wrapper-dropdown">
                                    <div class="drop-menu"><i class="fas fa-sign-out-alt"></i> Log Out</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Desktop -->
                <div class="body-dashboard">
                    <div class="row">
                        <!-- menu untuk desktop -->
                        <div class="col-lg-2 left-menu">
                            <div class="wrapper-menu">
                                <div class="wrapper">
                                    <div class="wrapper-account" align="center">
                                        <div class="account-photo">
                                            <img src="Assets/images/default-user.png" alt="">
                                        </div>
                                        <div class="account-name">Abdul Aziz Laia</div>
                                        <div class="account-title">Super Admin</div>
                                    </div>
                                </div>

                                <div class="menu active">Dashboard</div>
                                <div class="menu">Rekap Data</div>

                                <div class="wrapper-log-out">
                                    <div class="log-out" align="center">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End menu untuk desktop -->

                        <div class="col-lg-10">
                            <div class="wrapper-content-info">
                                <!-- Info -->
                                <div class="card-list">
                                    <div class="content-title">Dashboard</div>

                                    <div class="row">
                                        <div class="col-lg-3 col-6">
                                            <div class="item">
                                                <div class="count">6</div>
                                                <div class="title-item"><i class="fas fa-users"></i> Users</div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-6">
                                            <div class="item">
                                                <div class="count">13</div>
                                                <div class="title-item"><i class="far fa-clock"></i> Nodin Menunggu</div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-6">
                                            <div class="item">
                                                <div class="count">10</div>
                                                <div class="title-item"><i class="fas fa-hourglass-half"></i> Nodin Diproses</div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-6">
                                            <div class="item">
                                                <div class="count">97</div>
                                                <div class="title-item"><i class="fas fa-check"></i> Nodin Selesai</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Info -->

                                <!-- Daftar User -->
                                <div class="wrapper-list-user">
                                    <div class="head-list">
                                        <div class="title-head-list">Daftar Penggunda</div>

                                        <div class="wrapper-button ml-auto">
                                            <div class="btn button-add" data-toggle="modal" data-target="#addUser">Tambah Data</div>
                                        </div>
                                    </div>

                                    <div class="wrapper-tabel">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Id</th>
                                                        <th scope="col">Nama</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Tipe Pengguna</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td class="tabel-body">1</td>
                                                        <td class="tabel-body">Jhon Doe</td>
                                                        <td class="tabel-body">jondoe@jon.co</td>
                                                        <td class="tabel-body">Admin Bidang</td>
                                                        <td class="tabel-body">
                                                            <div class="wrapper-tabel-action">
                                                                <div class="edit mr-2">Ubah</div>
                                                                <div class="delete">Hapus</div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Eend of Daftar User -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Menu Untuk Mobile -->
    <div class="main-mobile">
        <div class="wrapper-mobile-menu">
            <div class="mobile-menu" align="center">
                <i class="fas fa-columns"></i>
                <div class="title-menu">Dashboard</div>
            </div>
            <div class="mobile-menu" align="center">
                <i class="fas fa-columns"></i>
                <div class="title-menu">Rekap Data</div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
